.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardMedia {
  height: 250px;
}

.span {
  font-weight: bold;
  display: inline;
}

.text {
  display: inline;
  text-transform: capitalize;
}
